@import "config-sta.css";

/* Add small shadow to everything. */
.box, .btn, .nav, .footer, .media, .code-block {
    box-shadow: 1px 1px 4px #888;
}

html {
  scroll-behavior: smooth;
}

/* body */
.body {
    background-color: var(--body-bg-color, #FFEFD5);
    background-image: var(--body-bg-img);
    text-align: center;
    font-family: var(--font, sans-serif);
    color: var(--font-color, black);
}
.body > hr {
    width: 50%;
    max-width: 775px;
}

/* header */
.header {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 2em;
}

/* navbar */
.nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--nav-txt-color);
}
.nav a:hover {
    border-bottom: 2px var(--nav-txt-color, black) solid;
}
.nav #current-page {
    font-weight: bold;
}

/* footer */
.footer {
    color: var(--footer-txt-color);
}

/* navbar and footer */
.nav, .footer {
    background-color: var(--nf-bg-color, #F08080);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    max-width: 850px;
    padding: 15px;
}

/* media */
.media {
    margin: auto;
    margin-bottom: var(--media-margin, 10px);
    margin-top: var(--media-margin, 10px);
    border-radius: var(--border-radius, 15px);
}
.media.clear {
    box-shadow: none;
}

/* box */
.box {
    margin: auto;
    margin-bottom: var(--box-margin, 10px);
    margin-top: var(--box-margin, 10px);
    border-radius: var(--border-radius, 15px);
    box-sizing: border-box;
    padding: var(--box-padding, 20px);
    background-color: var(--box-bg-color, white);
    text-align: left;
}
.box.clear {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}
.box > h1, .box > h2{
    text-align: center;
}
.box .media, .box .box {
    max-width: 100%;
}
.box img {
  object-fit: contain;
}

/* code */
.box > code, .code {
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: var(--code-bg-color, #E0E0E0);
    font-size: 1.1em;
    font-family: monospace;
    color: var(--code-txt-color, black);
}
.box.code {
    padding: 5px;
    padding-left: 15px;
    white-space: pre-wrap;
}

/* btn */
.btn {
    display: inline-block;;
    margin: 4px;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 400px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--btn-bg-color, lightgray);
    font-size: 1.15em;
    color: var(--btn-txt-color);
}
.btn:link {
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
}
.btn.border { /* buttons with borders */
    transition: border-color 1s;
    border: 1px var(--btn-bg-color, lightgray) solid;
    border-right: 3px var(--btn-bg-color, lightgray) solid;
    border-left: 3px var(--btn-bg-color, lightgray) solid;
}
.btn.border:hover {
    border-color: black;
}
.btn.lines {
    transition: border-right 1s, border-left 1s, background-color 1s;
    border-right: 3px var(--btn-bg-color, lightgray) solid;
    border-left: 3px var(--btn-bg-color, lightgray) solid;
    padding-top: 6px;
    padding-bottom: 6px;
}
.btn.lines:hover {
    border-right: 3px black solid;
    border-left: 3px black solid;
    /* background-color: rgba(0, 0, 0, 0); */
}
.btn.dark, .btn.light { /* borderless buttons */
    padding: 6px;
    padding-right: 13px;
    padding-left: 13px;
}
.btn.light {
    transition: background-color 1s;
}
.btn.light:hover {
    background-color: rgba(255, 250, 241, 0.7);
}
.btn.dark {
    transition: background-color 1s, color 0.5s;
}
.btn.dark:hover {
    background-color: rgba(4, 10, 24, 0.7);
    color: #F5F5E9;
}

/* Max Width */
.w0 { max-width: 400px; }
.w1 { max-width: 475px; }
.w2 { max-width: 550px; }
.w3 { max-width: 625px; }
.w4 { max-width: 700px; }
.w5 { max-width: 775px; }
.wfull { max-width: 100%; }

/* Text Alignment */
.txt-left { text-align: left; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }
